a {
    line-height: 20px !important;
    text-decoration: none !important;
    color: #fff !important;
}
footer {
    max-width: 1200px;
    padding: 2px;
    height: 25px;
    margin: 0 auto;
    background-color: #2f332e;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: space-between; 
}
.footerLeft {
    margin-left: 50px;
}
.footerRigth {
    margin-right: 50px;
}
  
  