header {
    max-width: 1200px;
    height: 92px;
    margin: 0 auto;
    display: flex;
   
}
p {
    margin: 0 30px 0 30px;
}
ul, li {
    border:none !important;
    list-style: none;
}
.gameLogo {
    height: 65px;
    width: 85px;
    margin-top: 15px;
    margin-left: 145px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.header-nav {
  
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 92px;
}
.left-menu {
    display: flex;
    
}
.left-menu li {
    font-size: 24px;
    font-family: "Ubuntu";
    color: rgb(255, 108, 0);
    line-height: 1.347;
    text-align: left;
    cursor: pointer;
    margin-top: 32px;
}
.right-menu {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    
}
.right-menu li, .user-logout {
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(0, 255, 255);
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}
.user-profile {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}
.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
}
.user-name {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.user-name:hover {
    cursor: pointer;
}

  
  