.formAbout{
    width: 100%;
    height: 100%;
    /*background: red;*/
    text-align: center;
}
.AboutHeading{
    background: #17feff;
    display: inline-block;
    margin: 10px;
    /*width: 90%;*/
    font-size: 37px;
    padding: 5px 15px 5px 15px;
    box-shadow: 0 0 2px 2px #948a8a;
    border-radius: 30px;
}
.AboutContent{
    border-radius: 4px;
    text-indent: 30px;
    width: 90%;
    text-align: justify;
    margin: 0 auto 10px;
    -webkit-box-shadow: 0 0 5px 1px grey;
    box-shadow: 0 0 2px 2px #8e8383;

    background: white;
    padding: 20px 40px 20px 40px;
}

.AboutContent>hr{
    box-shadow: 0 0 1px 1px #8e8383;
}
.AboutContent>p{
    /*margin: 0 30px 0 30px;*/
    font-size: 18px;

}
.AboutContentLi>li{
    font-size: 18px;
    text-indent: 0px;
}
.AboutContent>ul{
    margin: 0;
    font-size: 18px;
}