
a {
	line-height: 35px;
}
span {
	font-weight: bold;
}
.gameCard{
	border: 1px solid black;
	border-radius: 5px;
	width: 600px;
	min-height: 150px;
	margin: 5px;
	background-color: lightblue;
	padding: 15px;
}
.forURL {
	border: 1px solid black;
	border-radius: 15px;
	background-color: lightgrey;
	height: 35px;
	padding-left: 15px;
	margin-bottom: 5px;
}
.delButton {
	width: 15px;
	height: 15px;
	background-image: url('./Delete-icon.png');
	background-size: 100%;
	float: right;
}