body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightgrey;
}
.row {
  margin: 0;
}
[className|=col-]{
 margin: 0;
 padding-left: 0;
}
h4 {
  font-size: 31px;
  font-family: "Roboto";
  color: rgb(0, 255, 255);
  line-height: 1.2;
  text-align: center;
}
input {
  width: 85%;
  font-size: 19px;
  padding-left: 5px;
}

.container-for-login-form {
  width: 518px;
  height: 475px;
  margin: 60px auto;
  background: #061b31;
  padding: 50px;
  // text-align: center;
}
.register-form-label {
  margin-top: 28px;
  font-size: 23px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;

}
.register-form-submit {
  margin: 70px auto;
  text-align: center;
  width: 187px;
  height: 44px;
  background-color: #ff6c00;
  border-radius: 4px;
  box-shadow: 0px 1px 0px 0px rgba(189, 66, 25, 0.004),inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
  font-size: 23.504px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.625;
  text-align: center;
}
.log-warning {
  color: #ff6c00;
}