#menuList{
    line-height: 41px;
    width: 180px;
    height: 124px;
    background: #fafafa;
    /* border: 1px solid black; */
    padding: 0;
    margin: 25px 0 0 48px;
    border-radius: 4px;
    box-shadow: 0 0 11px 1px black;
}
#menuList>li{
    border-top: 1px solid black;
    /* display: block; */
    /*list-style-image: url("./savedGames.png");*/
    font-size: 18px;
    margin-left:30px;
    line-height: 42px;
    color: #29335b;
}
#menuList>li:hover{
    cursor: pointer;
}
#menuList>hr{
    border: 0;
    border-top: 1px solid #eee;
    width: 160px;
    margin: 0 0 0 10px;
    background-color: #cccccc;
}
#menuList>li:nth-child(1){
    list-style-image: url("./createGames.png");
}


#menuList>li:nth-child(3){
    list-style-image: url("./savedGames.png");
}
#menuList>li:nth-child(5){
    list-style-image: url("./myAccount.png");
    /*background-color: red;*/
}
