.container-for-user-cards {
    display: flex;
    justify-content: space-between;
    
}
.wrapper-for-user-card {
    margin: 35px 0 35px 35px;
    text-align: center
}
.user-card {
    width: 63px;
    height: 88px;
    background-color: #00ffff;    
}
.user-card-name {
    font-size: 12px;
    color: rgb(64, 64, 64);
    line-height: 1.2;
    text-align: center;
}

