.game-field {
    background: #f5f5f6;
    max-width: 1200px;
    margin: 0 auto;
}
.container-for-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.game-button {
    margin: 0 auto;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 4px;
    border: 0px solid transparent;
    box-shadow: 0px 1px 0px 0px rgba(120, 120, 120, 0.004),inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
}
.game-button .fa {
    padding: 0 10px;
}  

.show-cards {
    background-color: #ff6c00;
}
.reset-cards {
    background-color: #00ffff;
}
.next-question, .prev-question{
    background-color: #202b52;
}

.container-for-main-right-part {
    text-align: center;
}

.container-for-questions {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    padding-right: 0;
} 
.wrapper-for-question {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    border-bottom: 1px solid #b7b7b7;
    padding: 2px 0;
} 
.active-question {
    background: grey;
    border-bottom: #b7b7b7;
}
.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.question-number {
    width: 45px;
    text-align: center;
    font-size: 12px;
    color: rgb(32, 43, 82);
    line-height: 1.2;
}
.question-text {
    font-size: 12px;
}
.question-score {
    width: 50px;
    font-weight: bold;
    background: #00ffff;
    text-align: center;
}
.addQuestion {
    width: 33px;
    height: 33px;
    background-size: 100%;
    margin: 5px auto;
    padding: 5px;
}
.single-question {
    text-align: left;
    font-size: 19px;
    font-weight: bold;
    margin: 25px 160px 10px 40px;
}
.question-title {
    color: #ff6c00;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.2;
}

  